/*  your css code here. If applicable */
button{
	border-radius:15px;
	background-color:tomato;
	height:60px;
	width:20%;
	color:white;
	border: none;
	font-size:20px;
}
.pricing-card{
	border-radius:15px;
	background-color:ghostwhite;
}